
SchoolApplication/.vs/SchoolApplication/DesignTimeBuild/.dtbcache
SchoolApplication/.vs/SchoolApplication/v15/.suo
SchoolApplication/.vs/SchoolApplication/v15/Server/sqlite3/db.lock
SchoolApplication/.vs/SchoolApplication/v15/Server/sqlite3/storage.ide
SchoolApplication/.vs/SchoolApplication/v15/Server/sqlite3/storage.ide-shm
SchoolApplication/.vs/SchoolApplication/v15/Server/sqlite3/storage.ide-wal
